.header {

  z-index: -1;
}


.header-container {
  padding: 100px 60px 0 60px;
  position: relative;

}

.header-menu {
  top: 0;
  position: absolute;
  top: 0;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.911);
  width: 100%;
  left: 0;
  
  &__logo {
    position: absolute;
    padding: 15px;
    margin-left: 60px;
  }

  &__image {
    width: 70px;
    height: 70px;
    }
  
}    




.header-menu__items {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding-right: 200px;
}

// .header-menu__item {

// }
a {

  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  transition: 0.5s;

  &:hover {
    color: rgb(145, 58, 8);
  }
}