<header class="header">
  <div class="header-container">
    <div class="header-menu">
      <div class="header-menu__items">
        <div class="header-menu__item">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="header-menu__item">
          <a routerLink="/slider" routerLinkActive="active">Slider</a>
        </div>
        <div class="header-menu__item">
          <p>Meню</p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</header>