<div class="wrapper">
  <div class="carousel">
    <div class="slide">
      <img class="slide__image" src="../../assets/image/pngwing.com(1).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(2).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(3).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(4).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(5).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(6).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(7).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(8).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(9).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(10).png" alt="">
    </div>
    <div class="slide">
      <img class="slide__image" src="../../assets/image/pngwing.com(1).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(2).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(3).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(4).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(5).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(6).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(7).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(8).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(9).png" alt="">
      <img class="slide__image" src="../../assets/image/pngwing.com(10).png" alt="">
    </div>
  </div>
</div>