<div class="projects">
  <h1 class="projects-title">Demonstration of all projects</h1>

  <section class="projects-list">

    <h3><a href="https://malomadro.github.io/grid-template/">Grid-template</a></h3>

    <div class="projects-items__container">
      <a href="https://malomadro.github.io/grid-template/">
        <img class="project-item__image" src="../../assets/image/grid-template.jpg">
      </a>
    </div>
  </section>

  <section class="projects-list">

    <h3><a href="https://malomadro.github.io/movie-search/">Movie-search</a></h3>

    <div class="projects-items__container">
      <a href="https://malomadro.github.io/movie-search/">
        <img class="project-item__image" src="../../assets/image/movie-search.jpg">
      </a>
    </div>
  </section>

  <section class="projects-list">

    <h3><a href="https://malomadro.github.io/carousel.js/">Carousel</a></h3>

    <div class="projects-items__container">
      <a href="https://malomadro.github.io/carousel.js/">
        <img class="project-item__image" src="../../assets/image/carousel.jpg">
      </a>
    </div>
  </section>

  <section class="projects-list">

    <h3> <a href="https://malomadro.github.io/bootstrap-lesson12-/">Bootstrap</a></h3>

    <div class="projects-items__container">
      <a href="https://malomadro.github.io/bootstrap-lesson12-/">
        <img class="project-item__image" src="../../assets/image/bootstrap.jpg">
      </a>
    </div>
  </section>
</div>